<link rel="shortcut icon" type="image/x-icon" href="img/logo/bartek_logo.ico" />
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>BARTEK LLC</h1>
            <hr />
            <p>
                BARTEK LLC is a company that specializes in the production of AI
                solutions for healthcare.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll"
                >Find Out More</a
            >
        </div>
    </div>
</header>
