<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img
                        src="img/portfolio/gen_img_8.png"
                        class="img-responsive"
                        alt=""
                    />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Processing Pipeline
                            </div>
                            <div class="project-name">
                                Genentech: Imaging workflow in Pyton
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img
                        src="img/portfolio/phenotil_img_1.png"
                        class="img-responsive"
                        alt=""
                    />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Research Publication
                            </div>
                            <div class="project-name">
                                Case Western: Histopathology workflow
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img
                        src="img/portfolio/3.jpg"
                        class="img-responsive"
                        alt=""
                    />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Diverse Solutions
                            </div>
                            <div class="project-name">
                                CIMALAB: electro-cardio signals processing
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img
                        src="img/portfolio/4.jpg"
                        class="img-responsive"
                        alt=""
                    />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                AI in Opthalmology
                            </div>
                            <div class="project-name">
                                Foundational model development
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img
                        src="img/portfolio/5.jpg"
                        class="img-responsive"
                        alt=""
                    />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                AI in Opthalmology
                            </div>
                            <div class="project-name">
                                Docker and Airflow solutions
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img
                        src="img/portfolio/6.jpg"
                        class="img-responsive"
                        alt=""
                    />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                More Projects
                            </div>
                            <div class="project-name">Upcoming...</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
